--
-- PostgreSQL database dump
--

\restrict aVbQqb0uNZVxpb7AERPSjm2quJx6bFjhZuPhlHm7tDgL8U9e9Ehul06ROmXI5aP

-- Dumped from database version 18.4
-- Dumped by pg_dump version 18.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: AvatarEvent; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."AvatarEvent" (
    id text NOT NULL,
    stream_id text,
    session_id text,
    event_type text NOT NULL,
    event_data text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."AvatarEvent" OWNER TO postgres;

--
-- Name: AvatarStream; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."AvatarStream" (
    id text NOT NULL,
    session_id text NOT NULL,
    stream_id text,
    session_token text,
    connection_signature text,
    avatar_mode text DEFAULT 'text'::text NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    closed_at timestamp(3) without time zone
);


ALTER TABLE public."AvatarStream" OWNER TO postgres;

--
-- Name: Chat; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Chat" (
    id integer NOT NULL,
    session_id text NOT NULL,
    response_type text NOT NULL,
    message_text text NOT NULL,
    "timestamp" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    token_count integer,
    is_visible boolean DEFAULT true NOT NULL,
    is_welcome boolean DEFAULT false NOT NULL,
    file_name text,
    file_mime_type text,
    file_data bytea
);


ALTER TABLE public."Chat" OWNER TO postgres;

--
-- Name: ChatBot; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."ChatBot" (
    session_id text NOT NULL,
    name text,
    email text,
    chat_language text,
    interested_in text,
    lead_generated boolean DEFAULT false NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    expires_at timestamp(3) without time zone NOT NULL,
    is_focus boolean DEFAULT false NOT NULL,
    did_stream_id text,
    did_session_id text
);


ALTER TABLE public."ChatBot" OWNER TO postgres;

--
-- Name: Chat_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."Chat_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Chat_id_seq" OWNER TO postgres;

--
-- Name: Chat_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."Chat_id_seq" OWNED BY public."Chat".id;


--
-- Name: RefreshToken; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."RefreshToken" (
    uid text NOT NULL,
    user_uid text NOT NULL,
    token_hash text NOT NULL,
    expires_at timestamp(3) without time zone NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."RefreshToken" OWNER TO postgres;

--
-- Name: Role; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Role" (
    uid text NOT NULL,
    role_name text NOT NULL,
    can_view_all_chats boolean DEFAULT false NOT NULL,
    can_download boolean DEFAULT false NOT NULL,
    can_manage_users boolean DEFAULT false NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Role" OWNER TO postgres;

--
-- Name: SchedulerConfig; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."SchedulerConfig" (
    id text NOT NULL,
    job_name text NOT NULL,
    details text,
    run_timing text,
    cron_expression text NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    created_by text,
    updated_by text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."SchedulerConfig" OWNER TO postgres;

--
-- Name: SchedulerExecutionHistory; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."SchedulerExecutionHistory" (
    id text NOT NULL,
    scheduler_id text NOT NULL,
    start_time timestamp(3) without time zone NOT NULL,
    end_time timestamp(3) without time zone,
    status text NOT NULL,
    records_processed integer DEFAULT 0 NOT NULL,
    records_deleted integer DEFAULT 0 NOT NULL,
    error_message text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."SchedulerExecutionHistory" OWNER TO postgres;

--
-- Name: TrainChatbot; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."TrainChatbot" (
    id text NOT NULL,
    filename text NOT NULL,
    file_data bytea NOT NULL,
    ai_response_id text,
    trained_date timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."TrainChatbot" OWNER TO postgres;

--
-- Name: TrainChatbotWithUrl; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."TrainChatbotWithUrl" (
    id text NOT NULL,
    page_name text NOT NULL,
    url text NOT NULL,
    ai_response_id text,
    trained_date timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."TrainChatbotWithUrl" OWNER TO postgres;

--
-- Name: User; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."User" (
    uid text NOT NULL,
    email text NOT NULL,
    name text NOT NULL,
    password_hash text NOT NULL,
    role text NOT NULL,
    contact_number text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    failed_login_attempts integer DEFAULT 0 NOT NULL,
    locked_until timestamp(3) without time zone
);


ALTER TABLE public."User" OWNER TO postgres;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO postgres;

--
-- Name: Chat id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Chat" ALTER COLUMN id SET DEFAULT nextval('public."Chat_id_seq"'::regclass);


--
-- Name: AvatarEvent AvatarEvent_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."AvatarEvent"
    ADD CONSTRAINT "AvatarEvent_pkey" PRIMARY KEY (id);


--
-- Name: AvatarStream AvatarStream_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."AvatarStream"
    ADD CONSTRAINT "AvatarStream_pkey" PRIMARY KEY (id);


--
-- Name: ChatBot ChatBot_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ChatBot"
    ADD CONSTRAINT "ChatBot_pkey" PRIMARY KEY (session_id);


--
-- Name: Chat Chat_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Chat"
    ADD CONSTRAINT "Chat_pkey" PRIMARY KEY (id);


--
-- Name: RefreshToken RefreshToken_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."RefreshToken"
    ADD CONSTRAINT "RefreshToken_pkey" PRIMARY KEY (uid);


--
-- Name: Role Role_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Role"
    ADD CONSTRAINT "Role_pkey" PRIMARY KEY (uid);


--
-- Name: SchedulerConfig SchedulerConfig_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."SchedulerConfig"
    ADD CONSTRAINT "SchedulerConfig_pkey" PRIMARY KEY (id);


--
-- Name: SchedulerExecutionHistory SchedulerExecutionHistory_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."SchedulerExecutionHistory"
    ADD CONSTRAINT "SchedulerExecutionHistory_pkey" PRIMARY KEY (id);


--
-- Name: TrainChatbotWithUrl TrainChatbotWithUrl_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."TrainChatbotWithUrl"
    ADD CONSTRAINT "TrainChatbotWithUrl_pkey" PRIMARY KEY (id);


--
-- Name: TrainChatbot TrainChatbot_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."TrainChatbot"
    ADD CONSTRAINT "TrainChatbot_pkey" PRIMARY KEY (id);


--
-- Name: User User_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_pkey" PRIMARY KEY (uid);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: AvatarEvent_event_type_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "AvatarEvent_event_type_idx" ON public."AvatarEvent" USING btree (event_type);


--
-- Name: AvatarEvent_session_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "AvatarEvent_session_id_idx" ON public."AvatarEvent" USING btree (session_id);


--
-- Name: AvatarEvent_stream_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "AvatarEvent_stream_id_idx" ON public."AvatarEvent" USING btree (stream_id);


--
-- Name: AvatarStream_is_active_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "AvatarStream_is_active_idx" ON public."AvatarStream" USING btree (is_active);


--
-- Name: AvatarStream_session_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "AvatarStream_session_id_idx" ON public."AvatarStream" USING btree (session_id);


--
-- Name: AvatarStream_stream_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "AvatarStream_stream_id_idx" ON public."AvatarStream" USING btree (stream_id);


--
-- Name: ChatBot_chat_language_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "ChatBot_chat_language_idx" ON public."ChatBot" USING btree (chat_language);


--
-- Name: ChatBot_created_at_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "ChatBot_created_at_idx" ON public."ChatBot" USING btree (created_at);


--
-- Name: ChatBot_email_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "ChatBot_email_idx" ON public."ChatBot" USING btree (email);


--
-- Name: ChatBot_is_focus_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "ChatBot_is_focus_idx" ON public."ChatBot" USING btree (is_focus);


--
-- Name: ChatBot_lead_generated_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "ChatBot_lead_generated_idx" ON public."ChatBot" USING btree (lead_generated);


--
-- Name: Chat_is_welcome_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Chat_is_welcome_idx" ON public."Chat" USING btree (is_welcome);


--
-- Name: Chat_session_id_timestamp_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Chat_session_id_timestamp_idx" ON public."Chat" USING btree (session_id, "timestamp");


--
-- Name: RefreshToken_token_hash_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "RefreshToken_token_hash_key" ON public."RefreshToken" USING btree (token_hash);


--
-- Name: RefreshToken_user_uid_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "RefreshToken_user_uid_idx" ON public."RefreshToken" USING btree (user_uid);


--
-- Name: Role_role_name_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Role_role_name_key" ON public."Role" USING btree (role_name);


--
-- Name: SchedulerExecutionHistory_created_at_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "SchedulerExecutionHistory_created_at_idx" ON public."SchedulerExecutionHistory" USING btree (created_at);


--
-- Name: SchedulerExecutionHistory_scheduler_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "SchedulerExecutionHistory_scheduler_id_idx" ON public."SchedulerExecutionHistory" USING btree (scheduler_id);


--
-- Name: SchedulerExecutionHistory_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "SchedulerExecutionHistory_status_idx" ON public."SchedulerExecutionHistory" USING btree (status);


--
-- Name: TrainChatbotWithUrl_created_at_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "TrainChatbotWithUrl_created_at_idx" ON public."TrainChatbotWithUrl" USING btree (created_at);


--
-- Name: TrainChatbotWithUrl_is_active_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "TrainChatbotWithUrl_is_active_idx" ON public."TrainChatbotWithUrl" USING btree (is_active);


--
-- Name: TrainChatbotWithUrl_url_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "TrainChatbotWithUrl_url_idx" ON public."TrainChatbotWithUrl" USING btree (url);


--
-- Name: TrainChatbot_created_at_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "TrainChatbot_created_at_idx" ON public."TrainChatbot" USING btree (created_at);


--
-- Name: TrainChatbot_is_active_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "TrainChatbot_is_active_idx" ON public."TrainChatbot" USING btree (is_active);


--
-- Name: User_email_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "User_email_idx" ON public."User" USING btree (email);


--
-- Name: User_email_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "User_email_key" ON public."User" USING btree (email);


--
-- Name: AvatarEvent AvatarEvent_session_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."AvatarEvent"
    ADD CONSTRAINT "AvatarEvent_session_id_fkey" FOREIGN KEY (session_id) REFERENCES public."ChatBot"(session_id) ON DELETE CASCADE;


--
-- Name: AvatarEvent AvatarEvent_stream_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."AvatarEvent"
    ADD CONSTRAINT "AvatarEvent_stream_id_fkey" FOREIGN KEY (stream_id) REFERENCES public."AvatarStream"(id) ON DELETE CASCADE;


--
-- Name: AvatarStream AvatarStream_session_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."AvatarStream"
    ADD CONSTRAINT "AvatarStream_session_id_fkey" FOREIGN KEY (session_id) REFERENCES public."ChatBot"(session_id) ON DELETE CASCADE;


--
-- Name: Chat Chat_session_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Chat"
    ADD CONSTRAINT "Chat_session_id_fkey" FOREIGN KEY (session_id) REFERENCES public."ChatBot"(session_id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: RefreshToken RefreshToken_user_uid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."RefreshToken"
    ADD CONSTRAINT "RefreshToken_user_uid_fkey" FOREIGN KEY (user_uid) REFERENCES public."User"(uid) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: SchedulerExecutionHistory SchedulerExecutionHistory_scheduler_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."SchedulerExecutionHistory"
    ADD CONSTRAINT "SchedulerExecutionHistory_scheduler_id_fkey" FOREIGN KEY (scheduler_id) REFERENCES public."SchedulerConfig"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict aVbQqb0uNZVxpb7AERPSjm2quJx6bFjhZuPhlHm7tDgL8U9e9Ehul06ROmXI5aP

